<div class="jumbotron">
    <h1>Open Character Sheet v0.1</h1>
    <p class="lead">Open Character Sheet is a locally hosted web application for managing a Pen and Paper RPG</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Select one of the existing templates to make a character that conforms to the rules of a game</p>
    </div>
    <div class="col-md-4">
       @Html.Action("Character");
    </div>
    <div class="col-md-4">
        @Html.Action("Character");
    </div>
</div>
